(require 'org)
(require 'ox)
(require 'ox-koma-letter)

(setq enable-local-variables :all)

(find-file "{{ letter_filename }}.org")
(hack-dir-local-variables)
(hack-local-variables-apply)
(org-koma-letter-export-to-pdf)
