{
{%- if letter_description %}
  description = {{ letter_description | to_json(ensure_ascii=False) }};
{% endif %}
  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixpkgs-unstable";
    flake-utils.url = "github:numtide/flake-utils";
    pre-commit-hooks = {
      url = "github:cachix/pre-commit-hooks.nix";
      inputs = {
        nixpkgs.follows = "nixpkgs";
        flake-utils.follows = "flake-utils";
      };
    };
  };

  outputs = inputs@{ self, ... }:
    with inputs;
    flake-utils.lib.eachDefaultSystem (system:
      let
        pkgs = import nixpkgs { inherit system; };

        systemFonts = with pkgs; [ ];
        texFonts = [
{%- if font == "Garamond" %}
          "ebgaramond"
{%- if letter_title %}
          "quattrocento"
{%- endif %}
{%- elif font == "Charter" %}
{%- if letter_title %}
          "libertinus-fonts"
{%- endif %}
          "xcharter"
          "xcharter-math"
{%- endif %}
        ];

        tex = pkgs.texlive.combine
          (builtins.foldl' (x: y: x // y)
            {
              inherit (pkgs.texlive)
                scheme-basic
                biblatex
                booktabs
                capt-of
                fancyvrb
                fontspec
                hologo
                hyperref
                impnattypo
                koma-script
                latexmk
                luacode
                lualatex-math
                luatexbase
                mathtools
                microtype
                minted
                newunicodechar
                onlyamsmath
                realscripts
                ulem
                unicode-math
                unquote
                wrapfig
                xcolor
                xkeyval;
            }
            (map (font: { ${font} = pkgs.texlive.${font}; }) texFonts));

        OSFONTDIR = builtins.concatStringsSep "/;"
          (map
            (font: "${tex}/share/texmf/fonts/{opentype,truetype}/public/${font}")
            texFonts) + "/;" + (builtins.concatStringsSep "//;"
          (map (font: "${font}/share/fonts") systemFonts));
        SOURCE_DATE_EPOCH = toString self.lastModified;
      in
      {
        packages.default = pkgs.stdenvNoCC.mkDerivation rec {
          name = "{{ letter_filename }}";
          src = self;
          buildInputs = with pkgs;
            [ coreutils which emacs-nox tex python39Packages.pygments ]
            ++ systemFonts;
          inherit OSFONTDIR SOURCE_DATE_EPOCH;
          buildPhase = ''
            HOME=$(mktemp -d)
            emacs -Q --script compile.el "{{ letter_filename }}.org"
          '';
          installPhase = ''
            mkdir -p $out
            cp "{{ letter_filename }}.pdf" $out/
          '';
        };

        devShells.default = with pkgs;
          mkShell {
            inherit (self.checks.${system}.pre-commit-check) shellHook;
            packages = [
              # Nix
              nixpkgs-fmt
              nil
              statix

              # LaTeX
              tex
              python39Packages.pygments
              which
            ];
            inherit OSFONTDIR SOURCE_DATE_EPOCH;
          };

        formatter = pkgs.nixpkgs-fmt;

        checks = {
          pre-commit-check = pre-commit-hooks.lib.${system}.run {
            src = ./.;
            hooks = { nixpkgs-fmt.enable = true; };
          };
        };
      });
}
