#+options: ':t
#+options: *:t
#+options: -:t
#+options: :t
#+options: <:nil
#+options: \n:nil
#+options: ^:t
#+options: arch:nil
#+options: author:t
#+options: broken-links:mark
#+options: c:nil
#+options: creator:nil
#+options: d:nil
#+options: date:{% if letter_date %}t{% else %}nil{% endif %}
#+options: e:t
#+options: email:{% if letter_sender_email %}t{% else %}nil{% endif %}
#+options: f:t
#+options: H:1
#+options: inline:nil
#+options: num:0
#+options: p:nil
#+options: pri:nil
#+options: prop:nil
#+options: stat:nil
#+options: tags:nil
#+options: tasks:nil
#+options: tex:t
#+options: timestamp:t
#+options: title:{% if letter_title %}t{% else %}nil{% endif %}
#+options: toc:nil
#+options: todo:nil
#+options: |:t
#+options: after-closing-order:(after_closing ps encl cc)
#+options: after-letter-order:(after_letter)
#+options: backadress:nil
#+options: foldmarks:{% if print %}t{% else %}nil{% endif %}
#+options: from-logo:t
#+options: phone:{% if letter_sender_phone %}t{% else %}nil{% endif %}
#+options: place:{% if letter_sender_place %}t{% else %}nil{% endif %}
#+options: subject:(beforeopening left untitled)
#+options: URL:{% if letter_sender_url %}t{% else %}nil{% endif %}
#+latex_compiler: lualatex
#+lco: AuthorAsSignature
#+latex_header: \setlength{\emergencystretch}{1em}
#+latex_header: \clubpenalty=9996
#+latex_header: \widowpenalty=9999
#+latex_header: \brokenpenalty=4991
#+latex_header: \predisplaypenalty=10000
#+latex_header: \postdisplaypenalty=1549
#+latex_header: \displaywidowpenalty=1602
#+latex_header: \interfootnotelinepenalty=10000
#+latex_header: \usepackage[AUTO]{babel}
#+latex_header: \usepackage{hologo}
#+latex_header: \usepackage{realscripts}
#+latex_header: \usepackage[activate={true,nocompatibility}, final, factor=1100, stretch=15, shrink=15, tracking=true, letterspace=40, babel=true]{microtype}
#+latex_header: \usepackage[all,nodollardollar]{onlyamsmath}
#+latex_header: \usepackage[math-style=ISO, bold-style=ISO, sans-style=italic, nabla=upright, partial=upright]{unicode-math}
#+latex_header: \usepackage[nosingleletter, hyphenation, lastparline, homeoarchy, parindent]{impnattypo}
#+latex_header: \usepackage{newunicodechar}
#+latex_header: \newunicodechar{√}{\sqrt}
#+latex_header: \newunicodechar{–}{\mbox{–}\allowbreak{}\hspace{0pt}}
#+latex_header: \usepackage[cache=false]{minted}
{%- if font == "Garamond" %}
#+latex_header: \usepackage{ebgaramond}
#+latex_header: \linespread{1.0609}
{%- if letter_title %}
#+latex_header: \usepackage[sf,scaled=0.9]{quattrocento}
{%- endif %}
{%- elif font == "Charter" %}
{%- if letter_title %}
#+latex_header: \setsansfont{Libertinus Sans}
{%- endif %}
#+latex_header: \usepackage[oldstyle,otfmath]{XCharter}
{%- endif %}
#+latex_header_extra: \KOMAoptions{fromalign=right}
#+latex_header_extra: \KOMAoptions{enlargefirstpage=true}
#+latex_header_extra: \renewcaptionname{english}\emailname{}
#+latex_header_extra: \setkomavar{phoneseparator}{~}
#+latex_header_extra: \renewcaptionname{english}\phonename{}
#+latex_header_extra: \setkomavar{emailseparator}{~}
#+latex_header_extra: \renewcaptionname{english}\wwwname{}
#+latex_header_extra: \setkomavar{urlseparator}{~}
#+latex_header_extra: \pdfvariable suppressoptionalinfo 512\relax
#+latex_header_extra: \hypersetup{hidelinks, bookmarksnumbered, linkcolor={red!50!black}, citecolor={blue!50!black}, urlcolor={blue!80!black}}
{%- if not letter_to_address %}
#+latex_header_extra: \setplength{refvpos}{\useplength{toaddrvpos}}
{%- endif %}
{%- if print %}
#+latex_header_extra: \setplength{sigbeforevskip}{2\baselineskip}
{%- else %}
#+latex_header_extra: \setplength{sigbeforevskip}{.5\baselineskip}
{%- endif %}
#+latex_header_extra: \renewcommand*{\raggedsignature}{\raggedright}
{%- if letter_title %}
#+title: {{ letter_title }}
{%- endif %}
{%- if letter_description %}
#+description: {{ letter_description }}
{%- endif %}
{%- if letter_date %}
#+date: {{ letter_date }}
{%- endif %}
{%- if letter_subject %}
#+subject: {{ letter_subject  }}
{%- endif %}
#+author: {{ letter_sender }}
{%- if letter_sender_email %}
#+email: {{ letter_sender_email  }}
{%- endif %}
{%- if letter_sender_url %}
#+url: {{ letter_sender_url  }}
{%- endif %}
{%- if letter_from_address %}
{{ letter_from_address | regex_replace("^", "#+from_address: ") | replace("\n", "\n#+from_address: ") }}
{%- endif %}
{%- if letter_sender_phone %}
#+phone_number: {{ letter_sender_phone }}
{%- endif %}
{%- if letter_sender_place %}
#+place: {{ letter_sender_place }}
{%- endif %}
{%- if letter_to_address %}
{{ letter_to_address | regex_replace("^", "#+to_address: ") | replace("\n", "\n#+to_address: ") }}
{%- endif %}
#+language: en-gb

* Opening line,

Lorem /ipsum/ dolor sit amet, consectetur adipiscing elit. In egestas mattis lorem
in laoreet. Quisque malesuada ante risus, ac gravida arcu laoreet eget. Praesent
non velit at nisl ultrices suscipit. Nulla sit amet scelerisque augue, et
egestas augue. In dui magna, accumsan nec massa sed, pretium hendrerit massa.
Aliquam nulla nibh, tincidunt in imperdiet ac, vestibulum sed dolor. Duis dictum
ipsum sit amet nisi molestie, id dictum lectus sodales. Nam metus nisi, congue
quis nunc nec, accumsan pulvinar odio. Curabitur porttitor mi nec varius
rhoncus. Curabitur accumsan metus nisi, sit amet varius massa tincidunt sit
amet. Curabitur ultrices vitae odio quis venenatis.

Sed imperdiet laoreet elit, ut pellentesque ante tempus nec. Phasellus viverra
imperdiet sagittis. Ut eleifend dignissim rutrum. Orci varius natoque penatibus
et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sapien turpis,
lacinia id odio nec, posuere molestie velit. Phasellus nec ultricies neque.
Proin ullamcorper nunc eu libero lacinia pulvinar. Vivamus nec malesuada sem.
Duis nec mattis lacus. Pellentesque luctus nulla felis, a vehicula urna varius
sed. Ut vitae gravida ligula, id rutrum lectus. In tempor turpis dolor, vitae
suscipit nisl euismod rutrum. Sed finibus velit turpis, ultrices dictum dui
vestibulum sed. Nunc at mauris eget nulla porttitor sodales ut vitae magna. Cras
id nibh sed risus porta convallis sed ut lacus. Maecenas ultricies nibh sed quam
molestie imperdiet eget aliquam mi.

Sed dictum elit elit, eu suscipit ligula eleifend quis. Nam vel tempor tellus,
malesuada lacinia risus. Proin porta convallis porta. Quisque viverra enim id
lacus pulvinar, non vulputate dui convallis. Aliquam sed imperdiet ex, ut
porttitor dui. Fusce eget diam sit amet lacus bibendum finibus. Phasellus arcu
augue, consequat eget rhoncus a, interdum mollis arcu. Nam id bibendum leo.
Donec ut mauris vitae sapien molestie ultrices. Ut in eros orci. Fusce sit amet
dignissim ipsum, sed malesuada enim. Vivamus dignissim pharetra sapien id
semper. Vivamus quis tincidunt magna, id fringilla urna. Donec in ipsum vel odiod
pretium pellentesque. Etiam sagittis accumsan massa sit amet porttitor.

* Closing line, :closing:

* Postscript :ps:
PS: Praesent ut felis ut elit congue iaculis. Phasellus sapien ligula, congue non
egestas non, venenatis rhoncus nulla.
{% if enclosed %}
* Enclosed :encl:
{{ enclosed | wordwrap(79, break_long_words=False, break_on_hyphens=False) }}
{% endif %}
